<h1>Restaurants</h1>
<h2><%= link_to "Add Restaurant", new_restaurant_path %></h2>
<% @restaurants.each do |r| %>
  <div class='res-card'>
    <h3><%= link_to r.name, restaurant_path(r) %></h3>
    <h4><%= r.category %></h4>
    <p><%= r.address %></p>
    <p><%= r.phone_number %></p>
  </div>
<% end %>